[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rCoinbase"]
	path = rCoinbase
	url = https://github.com/jgquantscripts/rcoinbase
[submodule "rPublic"]
	path = rPublic
	url = https://github.com/cran/rPublic
